@import '@client/shared/styles/variables.scss';

.container {
  position: relative;

  .active {
    font-size: 14px;
    border-radius: 6px;
    text-align: left;
    padding: 18px;
    background: $white;
    color: $baseBlack;
    border: 1px solid $gray;
  }

  .list {
    background: $white;
    border: 1px solid $gray;
    position: absolute;
    border-radius: 6px;
    overflow: hidden;
    right: 0;
    left: 0;
    top: calc(100% + 10px);
    z-index: 999;
  }

  .item {
    color: $baseBlack;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background: $primaryColor;
      color: $white;
    }
  }
}

