$radius: 12px;
$padding: 20px;

.entities-post-list {
    color: var(--on-primary-color);
    width: 720px;

    &__item {
        padding: $padding $padding;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: $radius;

        &:not(:last-child) {
            margin-bottom: $padding;
        }

        &:hover {
            background-color: var(--surface-color);
            box-shadow: 0 0 12px var(--primary-color);
        }

        &-info {
            width: 50%;
            display: flex;
            flex-direction: column;

            &-title {
                font-size: 1.1;
                margin-bottom: 4px;   
            }
    
            &-minor {
                font-size: 0.8em;
                opacity: 0.5;
            }
    
            &-start-date {
                font-size: 0.8em;
                opacity: 0.5;
            }
        }

        &-comments {
            width: 25%;
        }

        &-last-comment {
            width: 25%;
        }
    }
}
