APP_ENV=dev
PORT=3000
DATABASE_URL=ulr
CORS_ORIGIN_WHITELIST=["http://localhost:3000"]

ACCESS_TOKEN_SECRET=ACCESS_TOKEN_SECRET
ACCESS_TOKEN_EXPIRES_IN=1h
REFRESH_TOKEN_SECRET=REFRESH_TOKEN_SECRET
REFRESH_TOKEN_EXPIRES_IN=1m
