@import '@client/shared/styles/variables.scss';

.playListHeader {
  display: flex;
  align-items: center;
  padding: $spacing-2;
  color: $white;

  & .playListHeaderCol {
    min-width: auto;
    flex-grow: 1;

    &:first-child {
      min-width: 15%;
      max-width: 15%;
    }

    &:last-child {
      text-align: right;
      min-width: 30%;
      max-width: 30%;
      flex-grow: 1;
    }
  }
}

.playerCard {
  display: flex;
  align-items: center;
  padding-right: 24px;
  color: $white;
}

.playerInfo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}


.playerName {
  margin-left: 24px;
}

.playListBody {
  display: flex;
  flex-direction: column;
  padding-top: $spacing-2;
  gap: $spacing-2;
  overflow: auto;
}

.searchBar {
  margin-bottom: $spacing-4;
}
