.entities-post-overview {
  max-width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  background: var(--surface-color);
  width: 100%;
  border-radius: 20px;

  &__header {
    margin: 20px;
    margin-bottom: 0;
    flex-grow: 0;

    &__created {
      opacity: 0.5;
      font-size: 0.8em;
    }

    &__title {
      margin: 0;
    }
  }

  &__content {
    margin: 20px;
    flex-grow: 1;
  }
}
