.entities-comment-list {
    background: var(--surface-color);
    border-radius: 20px;
    padding: 20px 20px;

    &__header {
        margin-bottom: 20px;
        flex-grow: 0;
    }

    &__content {
        margin: 20px 0;
        flex-grow: 1;
    }
}
