$backgroundImg: url('@client/shared/assets/png/background.png') no-repeat center / cover;
$background2Img: url('@client/shared/assets/png/background2.png') no-repeat center / cover;
$background3Img: url('@client/shared/assets/png/background3.png') no-repeat center / cover;
