@import '@client/shared/styles/variables.scss';

.input {
  width: 100%;
  border: none;
  background: $darkPurple;
  border: 1px solid $primaryColor;
  border-radius: $baseBorderRadius;
  padding: 0.3rem 0;
  color: $white;
  padding: 16px;

  &:focus {
    outline: none;
  }
}
