@import '@client/shared/styles/variables.scss';

.page {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  max-width: 800px;
  color: $onPrimaryColor;
}

.comments {
  flex: 1 1 auto;
}

.postOverview {
  flex: 0 1 auto;
}
