@import '@client/shared/styles/variables.scss';

.root {
  display: flex;
  justify-content: center;
}

.form {
  border-radius: 12px;
  height: max-content;
  position: relative;
  width: 100%;
}

.header {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  color: $white;
  margin-top: 20px;
  margin-bottom: 40px;
}

.error {
  color: $danger;
  text-align: center;
  height: 40px;
}

.button {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.input {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.append {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $white;
}
