@import '@client/shared/styles/variables.scss';

.input {
  border: none;
  background: $darkPurple;
  border-radius: $baseBorderRadius;
  color: $white;
  padding: 16px;
  min-width: 100%;
  box-sizing: border-box;
}
