.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

.card {
  margin: 0 auto;
  width: 360px;
  overflow: auto;
}
